//! **************************************************************************
// Written by: Map M.81d on Wed Feb 15 20:38:07 2012
//! **************************************************************************

SCHEMATIC START;
COMP "MZB_A<7>" LOCATE = SITE "F13" LEVEL 1;
COMP "DIP_SW<0>" LOCATE = SITE "Y8" LEVEL 1;
COMP "MZB_A<8>" LOCATE = SITE "F12" LEVEL 1;
COMP "DIP_SW<1>" LOCATE = SITE "Y9" LEVEL 1;
COMP "MZB_A<9>" LOCATE = SITE "F11" LEVEL 1;
COMP "DIP_SW<2>" LOCATE = SITE "Y10" LEVEL 1;
COMP "DIP_SW<3>" LOCATE = SITE "Y11" LEVEL 1;
COMP "MZB_CPLD_RESET_OUT" LOCATE = SITE "H15" LEVEL 1;
COMP "DIP_SW<4>" LOCATE = SITE "Y12" LEVEL 1;
COMP "MZB_D<0>" LOCATE = SITE "A12" LEVEL 1;
COMP "MZB_A<10>" LOCATE = SITE "F10" LEVEL 1;
COMP "FPGA_CLK1" LOCATE = SITE "B13" LEVEL 1;
COMP "FPGA_CLK2" LOCATE = SITE "C14" LEVEL 1;
COMP "DIP_SW<5>" LOCATE = SITE "W11" LEVEL 1;
COMP "FPGA_CLK3" LOCATE = SITE "AF14" LEVEL 1;
COMP "MZB_D<1>" LOCATE = SITE "B12" LEVEL 1;
COMP "MZB_A<11>" LOCATE = SITE "E10" LEVEL 1;
COMP "DIP_SW<6>" LOCATE = SITE "W12" LEVEL 1;
COMP "MZB_D<2>" LOCATE = SITE "A11" LEVEL 1;
COMP "MZB_A<20>" LOCATE = SITE "G10" LEVEL 1;
COMP "MZB_A<12>" LOCATE = SITE "E9" LEVEL 1;
COMP "DIP_SW<7>" LOCATE = SITE "W13" LEVEL 1;
COMP "MZB_D<3>" LOCATE = SITE "B11" LEVEL 1;
COMP "MZB_A<21>" LOCATE = SITE "G11" LEVEL 1;
COMP "MZB_A<13>" LOCATE = SITE "E8" LEVEL 1;
COMP "MZB_D<4>" LOCATE = SITE "A10" LEVEL 1;
COMP "MZB_A<22>" LOCATE = SITE "H11" LEVEL 1;
COMP "MZB_A<14>" LOCATE = SITE "E7" LEVEL 1;
COMP "MZB_D<5>" LOCATE = SITE "B10" LEVEL 1;
COMP "MZB_A<23>" LOCATE = SITE "H12" LEVEL 1;
COMP "MZB_A<15>" LOCATE = SITE "F7" LEVEL 1;
COMP "MZA_OE0" LOCATE = SITE "AF20" LEVEL 1;
COMP "MZB_D<6>" LOCATE = SITE "B9" LEVEL 1;
COMP "MZB_A<16>" LOCATE = SITE "G8" LEVEL 1;
COMP "MZB_D<7>" LOCATE = SITE "A8" LEVEL 1;
COMP "MZB_A<17>" LOCATE = SITE "F8" LEVEL 1;
COMP "VGA_R<0>" LOCATE = SITE "P8" LEVEL 1;
COMP "MZB_D<8>" LOCATE = SITE "B8" LEVEL 1;
COMP "MZB_A<18>" LOCATE = SITE "F9" LEVEL 1;
COMP "VGA_R<1>" LOCATE = SITE "W1" LEVEL 1;
COMP "MZB_D<9>" LOCATE = SITE "A7" LEVEL 1;
COMP "MZB_A<19>" LOCATE = SITE "G9" LEVEL 1;
COMP "MZA_OE8" LOCATE = SITE "AD25" LEVEL 1;
COMP "VGA_R<2>" LOCATE = SITE "V2" LEVEL 1;
COMP "VGA_R<3>" LOCATE = SITE "U2" LEVEL 1;
COMP "VGA_R<4>" LOCATE = SITE "U1" LEVEL 1;
COMP "VGA_R<5>" LOCATE = SITE "T2" LEVEL 1;
COMP "VGA_R<6>" LOCATE = SITE "T1" LEVEL 1;
COMP "VGA_R<7>" LOCATE = SITE "R2" LEVEL 1;
COMP "VE_SCRESET_RTC" LOCATE = SITE "V7" LEVEL 1;
COMP "LCD_DATA<0>" LOCATE = SITE "L21" LEVEL 1;
COMP "LCD_DATA<1>" LOCATE = SITE "K21" LEVEL 1;
COMP "LCD_DATA<2>" LOCATE = SITE "K22" LEVEL 1;
COMP "LCD_DATA<3>" LOCATE = SITE "J22" LEVEL 1;
COMP "MZB_D<10>" LOCATE = SITE "B7" LEVEL 1;
COMP "MZB_D<11>" LOCATE = SITE "A6" LEVEL 1;
COMP "MZB_D<20>" LOCATE = SITE "C12" LEVEL 1;
COMP "MZB_D<12>" LOCATE = SITE "B6" LEVEL 1;
COMP "MZB_D<21>" LOCATE = SITE "E11" LEVEL 1;
COMP "MZB_D<13>" LOCATE = SITE "A5" LEVEL 1;
COMP "VE_CLK" LOCATE = SITE "AE13" LEVEL 1;
COMP "MZB_D<30>" LOCATE = SITE "C6" LEVEL 1;
COMP "MZB_D<22>" LOCATE = SITE "D11" LEVEL 1;
COMP "MZB_D<14>" LOCATE = SITE "B5" LEVEL 1;
COMP "AC97_SDATA_IN" LOCATE = SITE "P7" LEVEL 1;
COMP "MZB_D<31>" LOCATE = SITE "D6" LEVEL 1;
COMP "MZB_D<23>" LOCATE = SITE "C10" LEVEL 1;
COMP "MZB_D<15>" LOCATE = SITE "A4" LEVEL 1;
COMP "MZB_D<24>" LOCATE = SITE "D10" LEVEL 1;
COMP "MZB_D<16>" LOCATE = SITE "E13" LEVEL 1;
COMP "MZB_D<25>" LOCATE = SITE "C9" LEVEL 1;
COMP "MZB_D<17>" LOCATE = SITE "D13" LEVEL 1;
COMP "MZB_D<26>" LOCATE = SITE "D9" LEVEL 1;
COMP "MZB_D<18>" LOCATE = SITE "C13" LEVEL 1;
COMP "MZB_D<27>" LOCATE = SITE "C8" LEVEL 1;
COMP "MZB_D<19>" LOCATE = SITE "E12" LEVEL 1;
COMP "VD_LLC" LOCATE = SITE "AB3" LEVEL 1;
COMP "MZB_D<28>" LOCATE = SITE "D8" LEVEL 1;
COMP "MZB_D<29>" LOCATE = SITE "D7" LEVEL 1;
COMP "MZA_DIR0" LOCATE = SITE "AE19" LEVEL 1;
COMP "RS232_RX" LOCATE = SITE "M1" LEVEL 1;
COMP "RS232_TX" LOCATE = SITE "M2" LEVEL 1;
COMP "AC97_SYNC" LOCATE = SITE "P2" LEVEL 1;
COMP "MZA_DIR8" LOCATE = SITE "AE24" LEVEL 1;
COMP "MZA_OE40" LOCATE = SITE "AD9" LEVEL 1;
COMP "MZA_OE32" LOCATE = SITE "AD17" LEVEL 1;
COMP "MZA_OE24" LOCATE = SITE "AB19" LEVEL 1;
COMP "MZA_OE16" LOCATE = SITE "Y19" LEVEL 1;
COMP "VGA_BLANK" LOCATE = SITE "U7" LEVEL 1;
COMP "MZB_CPLD_CLK0" LOCATE = SITE "G15" LEVEL 1;
PIN MZB_CPLD_CLK0_pin<0> = BEL "MZB_CPLD_CLK0" PINNAME PAD;
PIN "MZB_CPLD_CLK0_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "VD_SFL" LOCATE = SITE "AC7" LEVEL 1;
COMP "SPI_SS" LOCATE = SITE "H21" LEVEL 1;
COMP "VE_VSO" LOCATE = SITE "AA3" LEVEL 1;
COMP "VE_TTX" LOCATE = SITE "Y7" LEVEL 1;
COMP "SYS_RST_N" LOCATE = SITE "AB11" LEVEL 1;
COMP "RS232_CTS" LOCATE = SITE "N1" LEVEL 1;
COMP "MZB_CPLD_BE0_B" LOCATE = SITE "B3" LEVEL 1;
COMP "PB<0>" LOCATE = SITE "AB23" LEVEL 1;
COMP "PB<1>" LOCATE = SITE "AF13" LEVEL 1;
COMP "MZB_CPLD_BE1_B" LOCATE = SITE "E6" LEVEL 1;
COMP "PB<2>" LOCATE = SITE "AA21" LEVEL 1;
COMP "PB<3>" LOCATE = SITE "AB24" LEVEL 1;
COMP "MZB_CPLD_BE2_B" LOCATE = SITE "B4" LEVEL 1;
COMP "PB<4>" LOCATE = SITE "AA22" LEVEL 1;
COMP "MZB_CPLD_BE3_B" LOCATE = SITE "E5" LEVEL 1;
COMP "VGA_SYNC" LOCATE = SITE "V6" LEVEL 1;
COMP "MZA_DIR40" LOCATE = SITE "AC10" LEVEL 1;
COMP "MZA_DIR32" LOCATE = SITE "AC17" LEVEL 1;
COMP "MZA_DIR24" LOCATE = SITE "AB18" LEVEL 1;
COMP "MZA_DIR16" LOCATE = SITE "AA19" LEVEL 1;
COMP "MZB_CPLD_OE_B" LOCATE = SITE "F20" LEVEL 1;
COMP "FLASH_ADDR<0>" LOCATE = SITE "G7" LEVEL 1;
COMP "FLASH_ADDR<1>" LOCATE = SITE "F5" LEVEL 1;
COMP "FLASH_ADDR<2>" LOCATE = SITE "M8" LEVEL 1;
COMP "FLASH_ADDR<3>" LOCATE = SITE "L8" LEVEL 1;
COMP "FLASH_ADDR<4>" LOCATE = SITE "J5" LEVEL 1;
COMP "FLASH_ADDR<5>" LOCATE = SITE "K5" LEVEL 1;
COMP "FLASH_ADDR<6>" LOCATE = SITE "L2" LEVEL 1;
COMP "FLASH_ADDR<7>" LOCATE = SITE "H7" LEVEL 1;
COMP "RS232_RTS" LOCATE = SITE "M6" LEVEL 1;
COMP "FLASH_ADDR<8>" LOCATE = SITE "J7" LEVEL 1;
COMP "FLASH_ADDR<9>" LOCATE = SITE "H6" LEVEL 1;
COMP "SPI_SCK" LOCATE = SITE "L20" LEVEL 1;
COMP "AC97_SDATA_OUT" LOCATE = SITE "P5" LEVEL 1;
COMP "VD_VS_FIELD" LOCATE = SITE "AC9" LEVEL 1;
COMP "LCD_E" LOCATE = SITE "M21" LEVEL 1;
COMP "FLASH_NRESET" LOCATE = SITE "G6" LEVEL 1;
COMP "MZB_CPLD_CS0_B" LOCATE = SITE "F19" LEVEL 1;
COMP "MZB_CPLD_CS1_B" LOCATE = SITE "E20" LEVEL 1;
COMP "MZB_CPLD_CS2_B" LOCATE = SITE "F21" LEVEL 1;
COMP "MZB_CPLD_CS3_B" LOCATE = SITE "E19" LEVEL 1;
COMP "MZB_CPLD_CS5_B" LOCATE = SITE "E21" LEVEL 1;
COMP "VGA_HSYNC" LOCATE = SITE "N3" LEVEL 1;
COMP "VD_NRESET" LOCATE = SITE "AD2" LEVEL 1;
COMP "MZB_CPLD_DTACK" LOCATE = SITE "C5" LEVEL 1;
COMP "VGA_PSAVE" LOCATE = SITE "R5" LEVEL 1;
COMP "MZB_CPLD_NFIO4" LOCATE = SITE "E18" LEVEL 1;
COMP "MZB_CPLD_NFIO5" LOCATE = SITE "C4" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "AB7" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "AB8" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "AB9" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "AA9" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "AA10" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "AA11" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "AD12" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "Y13" LEVEL 1;
COMP "VE_CLAMP" LOCATE = SITE "W3" LEVEL 1;
COMP "ACC_PORT_PIN<10>" LOCATE = SITE "J23" LEVEL 1;
COMP "ACC_PORT_PIN<11>" LOCATE = SITE "K23" LEVEL 1;
COMP "ACC_PORT_PIN<20>" LOCATE = SITE "N23" LEVEL 1;
COMP "ACC_PORT_PIN<12>" LOCATE = SITE "J24" LEVEL 1;
COMP "ACC_PORT_PIN<21>" LOCATE = SITE "E23" LEVEL 1;
COMP "ACC_PORT_PIN<13>" LOCATE = SITE "K24" LEVEL 1;
COMP "ACC_PORT_PIN<30>" LOCATE = SITE "G25" LEVEL 1;
COMP "ACC_PORT_PIN<22>" LOCATE = SITE "C25" LEVEL 1;
COMP "ACC_PORT_PIN<14>" LOCATE = SITE "L22" LEVEL 1;
COMP "ACC_PORT_PIN<31>" LOCATE = SITE "H25" LEVEL 1;
COMP "ACC_PORT_PIN<23>" LOCATE = SITE "D25" LEVEL 1;
COMP "ACC_PORT_PIN<15>" LOCATE = SITE "M24" LEVEL 1;
COMP "ACC_PORT_PIN<40>" LOCATE = SITE "M25" LEVEL 1;
COMP "ACC_PORT_PIN<32>" LOCATE = SITE "G26" LEVEL 1;
COMP "ACC_PORT_PIN<24>" LOCATE = SITE "C26" LEVEL 1;
COMP "ACC_PORT_PIN<16>" LOCATE = SITE "L23" LEVEL 1;
COMP "ACC_PORT_PIN<41>" LOCATE = SITE "N26" LEVEL 1;
COMP "ACC_PORT_PIN<33>" LOCATE = SITE "H26" LEVEL 1;
COMP "ACC_PORT_PIN<25>" LOCATE = SITE "D26" LEVEL 1;
COMP "ACC_PORT_PIN<17>" LOCATE = SITE "M22" LEVEL 1;
COMP "ACC_PORT_PIN<42>" LOCATE = SITE "N25" LEVEL 1;
COMP "ACC_PORT_PIN<34>" LOCATE = SITE "J25" LEVEL 1;
COMP "ACC_PORT_PIN<26>" LOCATE = SITE "E25" LEVEL 1;
COMP "ACC_PORT_PIN<18>" LOCATE = SITE "N24" LEVEL 1;
COMP "ACC_PORT_PIN<35>" LOCATE = SITE "K26" LEVEL 1;
COMP "ACC_PORT_PIN<27>" LOCATE = SITE "F25" LEVEL 1;
COMP "ACC_PORT_PIN<19>" LOCATE = SITE "N22" LEVEL 1;
COMP "ACC_PORT_PIN<36>" LOCATE = SITE "K25" LEVEL 1;
COMP "ACC_PORT_PIN<28>" LOCATE = SITE "E26" LEVEL 1;
COMP "ACC_PORT_PIN<37>" LOCATE = SITE "L25" LEVEL 1;
COMP "ACC_PORT_PIN<29>" LOCATE = SITE "F26" LEVEL 1;
COMP "ACC_PORT_PIN<38>" LOCATE = SITE "L26" LEVEL 1;
COMP "ACC_PORT_PIN<39>" LOCATE = SITE "M26" LEVEL 1;
COMP "FLASH_ADDR<10>" LOCATE = SITE "J6" LEVEL 1;
COMP "FLASH_ADDR<11>" LOCATE = SITE "K6" LEVEL 1;
COMP "FLASH_ADDR<20>" LOCATE = SITE "K4" LEVEL 1;
COMP "FLASH_ADDR<12>" LOCATE = SITE "K7" LEVEL 1;
COMP "FLASH_ADDR<21>" LOCATE = SITE "K3" LEVEL 1;
COMP "FLASH_ADDR<13>" LOCATE = SITE "L7" LEVEL 1;
COMP "FLASH_ADDR<22>" LOCATE = SITE "E4" LEVEL 1;
COMP "FLASH_ADDR<14>" LOCATE = SITE "M7" LEVEL 1;
COMP "FLASH_ADDR<15>" LOCATE = SITE "L5" LEVEL 1;
COMP "FLASH_ADDR<16>" LOCATE = SITE "L6" LEVEL 1;
COMP "VD_HS" LOCATE = SITE "AC8" LEVEL 1;
COMP "FLASH_ADDR<17>" LOCATE = SITE "H3" LEVEL 1;
COMP "FLASH_ADDR<18>" LOCATE = SITE "J4" LEVEL 1;
COMP "FLASH_ADDR<19>" LOCATE = SITE "J3" LEVEL 1;
COMP "LCD_BACK" LOCATE = SITE "N20" LEVEL 1;
COMP "MZB_CPLD_RS1_B" LOCATE = SITE "G17" LEVEL 1;
COMP "FLASH_NBYTE" LOCATE = SITE "L1" LEVEL 1;
COMP "VGA_VSYNC" LOCATE = SITE "N7" LEVEL 1;
COMP "I2C_SDA" LOCATE = SITE "A23" LEVEL 1;
COMP "FLASH_NCE" LOCATE = SITE "E3" LEVEL 1;
COMP "SPI_MISO" LOCATE = SITE "L19" LEVEL 1;
COMP "MZB_CPLD_RS5_B" LOCATE = SITE "G19" LEVEL 1;
PIN MZB_CPLD_RS5_B_pin<0> = BEL "MZB_CPLD_RS5_B" PINNAME PAD;
PIN "MZB_CPLD_RS5_B_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "MZB_CPLD_IRQ" LOCATE = SITE "H14" LEVEL 1;
COMP "I2C_SCL" LOCATE = SITE "C23" LEVEL 1;
COMP "SPI_MOSI" LOCATE = SITE "J21" LEVEL 1;
COMP "VD_INTRQ" LOCATE = SITE "AD8" LEVEL 1;
COMP "FLASH_NOE_E" LOCATE = SITE "F4" LEVEL 1;
COMP "FLASH_NWE" LOCATE = SITE "F6" LEVEL 1;
COMP "FLASH_NWP" LOCATE = SITE "G5" LEVEL 1;
COMP "VE_CSO_HSO" LOCATE = SITE "Y6" LEVEL 1;
COMP "MZB_CPLD_WS1_B" LOCATE = SITE "H13" LEVEL 1;
COMP "LCD_RS" LOCATE = SITE "M20" LEVEL 1;
COMP "LCD_RW" LOCATE = SITE "N21" LEVEL 1;
COMP "SYS_CLK" LOCATE = SITE "AE14" LEVEL 1;
COMP "MZB_CPLD_WS5_B" LOCATE = SITE "G18" LEVEL 1;
PIN MZB_CPLD_WS5_B_pin<0> = BEL "MZB_CPLD_WS5_B" PINNAME PAD;
PIN "MZB_CPLD_WS5_B_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "FLASH_NRYBY" LOCATE = SITE "H5" LEVEL 1;
COMP "VE_RESET" LOCATE = SITE "Y4" LEVEL 1;
COMP "AC97_RESET_N" LOCATE = SITE "P1" LEVEL 1;
COMP "ACC_PORT_PIN<9>" LOCATE = SITE "H24" LEVEL 1;
COMP "MZB_CPLD_AS" LOCATE = SITE "H16" LEVEL 1;
PIN MZB_CPLD_AS_pin<0> = BEL "MZB_CPLD_AS" PINNAME PAD;
PIN "MZB_CPLD_AS_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "VE_PAL_NTSC" LOCATE = SITE "W4" LEVEL 1;
COMP "MZB_CPLD_RW" LOCATE = SITE "G16" LEVEL 1;
COMP "VE_DATA<0>" LOCATE = SITE "AA4" LEVEL 1;
COMP "VE_DATA<1>" LOCATE = SITE "AB2" LEVEL 1;
COMP "VE_DATA<2>" LOCATE = SITE "AB1" LEVEL 1;
COMP "VE_DATA<3>" LOCATE = SITE "AA2" LEVEL 1;
COMP "VE_DATA<4>" LOCATE = SITE "AA1" LEVEL 1;
COMP "VE_DATA<5>" LOCATE = SITE "Y2" LEVEL 1;
COMP "VE_DATA<6>" LOCATE = SITE "Y1" LEVEL 1;
COMP "FPGA_CLK_BANK_0" LOCATE = SITE "A13" LEVEL 1;
COMP "VE_DATA<7>" LOCATE = SITE "W2" LEVEL 1;
COMP "FPGA_CLK_BANK_1" LOCATE = SITE "B14" LEVEL 1;
COMP "FPGA_CLK_BANK_5" LOCATE = SITE "AD13" LEVEL 1;
COMP "VE_TTXREQ" LOCATE = SITE "W7" LEVEL 1;
COMP "VD_DATA_DEC<0>" LOCATE = SITE "AC2" LEVEL 1;
COMP "VD_DATA_DEC<1>" LOCATE = SITE "AD1" LEVEL 1;
COMP "VD_DATA_DEC<2>" LOCATE = SITE "AB4" LEVEL 1;
COMP "VD_DATA_DEC<3>" LOCATE = SITE "AA6" LEVEL 1;
COMP "VD_DATA_DEC<4>" LOCATE = SITE "AB6" LEVEL 1;
COMP "VD_DATA_DEC<5>" LOCATE = SITE "AD5" LEVEL 1;
COMP "VD_DATA_DEC<6>" LOCATE = SITE "AC6" LEVEL 1;
COMP "VD_DATA_DEC<7>" LOCATE = SITE "AD6" LEVEL 1;
COMP "VGA_PIX_CLK" LOCATE = SITE "R1" LEVEL 1;
COMP "VGA_B<0>" LOCATE = SITE "R3" LEVEL 1;
COMP "VGA_B<1>" LOCATE = SITE "T5" LEVEL 1;
COMP "VGA_B<2>" LOCATE = SITE "T4" LEVEL 1;
COMP "VGA_B<3>" LOCATE = SITE "U3" LEVEL 1;
COMP "VGA_B<4>" LOCATE = SITE "U4" LEVEL 1;
COMP "VGA_B<5>" LOCATE = SITE "V3" LEVEL 1;
COMP "VGA_B<6>" LOCATE = SITE "V4" LEVEL 1;
COMP "VGA_B<7>" LOCATE = SITE "R7" LEVEL 1;
COMP "AC97_BIT_CLK" LOCATE = SITE "P6" LEVEL 1;
COMP "VGA_G<0>" LOCATE = SITE "V5" LEVEL 1;
COMP "VGA_G<1>" LOCATE = SITE "U5" LEVEL 1;
COMP "AC97_ID_0" LOCATE = SITE "P3" LEVEL 1;
COMP "VGA_G<2>" LOCATE = SITE "U6" LEVEL 1;
COMP "AC97_ID_1" LOCATE = SITE "P4" LEVEL 1;
COMP "VGA_G<3>" LOCATE = SITE "T6" LEVEL 1;
COMP "VGA_G<4>" LOCATE = SITE "R6" LEVEL 1;
COMP "VGA_G<5>" LOCATE = SITE "R8" LEVEL 1;
COMP "VGA_G<6>" LOCATE = SITE "T8" LEVEL 1;
COMP "VGA_G<7>" LOCATE = SITE "T7" LEVEL 1;
COMP "PS2_ENABLED" LOCATE = SITE "L4" LEVEL 1;
COMP "VD_NPWRDWN" LOCATE = SITE "AC1" LEVEL 1;
COMP "MZB_A<0>" LOCATE = SITE "F18" LEVEL 1;
COMP "MZB_A<1>" LOCATE = SITE "F17" LEVEL 1;
COMP "MZB_A<2>" LOCATE = SITE "F16" LEVEL 1;
COMP "MZB_A<3>" LOCATE = SITE "F15" LEVEL 1;
COMP "MZB_A<4>" LOCATE = SITE "G14" LEVEL 1;
COMP "MZB_A<5>" LOCATE = SITE "G13" LEVEL 1;
COMP "MZB_A<6>" LOCATE = SITE "G12" LEVEL 1;
NET "FPGA_CLK1_BUFGP/IBUFG" BEL "FPGA_CLK1_BUFGP/BUFG.GCLKMUX"
        USELOCALCONNECT;
PIN LCD_E_OBUF_pins<1> = BEL "LCD_E_OBUF" PINNAME OUT;
PIN LCD_RS_OBUF_pins<1> = BEL "LCD_RS_OBUF" PINNAME OUT;
PIN LCD_RW_OBUF_pins<1> = BEL "LCD_RW_OBUF" PINNAME OUT;
PIN LCD_DATA_3_OBUF_pins<1> = BEL "LCD_DATA_3_OBUF" PINNAME OUT;
PIN LCD_DATA_2_OBUF_pins<1> = BEL "LCD_DATA_2_OBUF" PINNAME OUT;
PIN LCD_DATA_1_OBUF_pins<1> = BEL "LCD_DATA_1_OBUF" PINNAME OUT;
PIN LCD_DATA_0_OBUF_pins<1> = BEL "LCD_DATA_0_OBUF" PINNAME OUT;
PIN SYS_RST_N_pins<0> = BEL "SYS_RST_N" PINNAME PAD;
PIN "LCD_E_OBUF_pins<1>" TIG;
PIN "LCD_RS_OBUF_pins<1>" TIG;
PIN "LCD_RW_OBUF_pins<1>" TIG;
PIN "LCD_DATA_3_OBUF_pins<1>" TIG;
PIN "LCD_DATA_2_OBUF_pins<1>" TIG;
PIN "LCD_DATA_1_OBUF_pins<1>" TIG;
PIN "LCD_DATA_0_OBUF_pins<1>" TIG;
PIN "SYS_RST_N_pins<0>" TIG;
SCHEMATIC END;

